
# ============================= #
#            LaTeX              #
# ============================= #

*.aux
*.bbl
*.blg
*.log
*.toc
*.lof
*.lot
*.tps
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind


# ============================= #
#  Ignore all PDFs by default   #
# ============================= #
*.pdf


# ============================= #
#         Misc. files           #
# ============================= #
*.bat
*.ink
*.exe


# ============================= #
#    I want synced References   #
# ============================= #
!References/*
!Release/*

